body {
    margin: 0;
    padding: 0;
    background: rgba(241, 23, 96, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
    
.yes-or-no {
    height: 150px;
    display:inline-block;
    justify-content: center;
    align-items: center;
}
    
.yes-or-no .yes {
    font-weight: bold;
    margin-right: 5px;
    background: rgb(132, 207, 132);
    color: white;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    text-transform: uppercase;
}
    
.yes-or-no .no {
    margin-left: 5px;
    font-weight: bold;
    background: rgb(216, 106, 106);
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid black;
    padding: 5px;
    text-transform: uppercase;
}
    
h1 {
    color: #fff;
}



.content-coracao {
    position:fixed;
    display: flex;
    justify-content: center;
    width: 100px;
    padding-top: 500px;
    margin: 50px auto;
    -webkit-animation: pulsa 1s linear 0s infinite;
  }
  @keyframes pulsa {
    0% {
      transform: scale(0.9) rotate(0deg);
    }
    50% {
      transform: scale(1) rotate(0deg);
    }
    70% {
      transform: scale(1.1) rotate(0deg);
    }
    80% {
      transform: scale(1.2) rotate(0deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  .square {
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    background: #e71940;
    position: absolute;
    top: 30px;
  }
  .circle:after,
  .circle:before {
    content: "";
    position: absolute;
    width: 54px;
    height: 55px;
    border-radius: 50%;
    background: #e71940;
  }
  .circle:after {
    left: 5px;
    top: 6px;
  }
  .circle:before {
    right: 5px;
    top: 6px;
  }